.faq-wrapper .form-wrapper {
    background-color: #f7f7f7;
    padding-bottom: 20px
}

.faq-wrapper .form-wrapper > input {
    width: 100%;
    padding: 10px
}

.faq-wrapper .form-wrapper > textarea {
    width: 100%;
    min-height: 90px;
    padding: 10px;
    margin-top: 15px
}

.faq-wrapper .form-wrapper.is-edit-mode {
    padding: 20px;
    border-bottom: 1px solid #ddd
}

.faq-wrapper .form-wrapper .error {
    border: 1px solid #D80000
}

.faq-wrapper .form-wrapper .counter {
    font-size: 12px;
    color: #999;
    text-align: right;
    margin: 5px 0 10px 0
}

.faq-wrapper .form-wrapper .btns-container {
    text-align: right
}

.faq-wrapper .form-wrapper .btns-container .btn-standard {
    width: 90px;
    margin-left: 20px
}

.faq-wrapper .form-wrapper .btns-container .manage {
    float: left;
    margin-top: 7px;
    cursor: pointer;
    color: #777
}

.faq-wrapper .form-wrapper .btns-container .manage > i {
    margin-right: 2px
}

.faq-wrapper {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd
}

.faq-wrapper > p {
    color: #999;
    line-height: 16px
}

.faq-wrapper > header h3 {
    font-size: 16px;
    display: inline-block;
    font-weight: 400
}

.faq-wrapper > header .add-faq {
    float: right;
    margin-top: 17px;
    font-weight: 700
}

.faq-wrapper .tooltip-wrapper .example-wrapper {
    border-radius: 5px;
    border: 1px solid #41b4bb;
    padding: 8px;
    margin: 8px 0
}

.faq-wrapper .tooltip-wrapper .sub-title {
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 5px;
    color: #41b4bb
}

.faq-wrapper .tooltip-wrapper p {
    padding-bottom: 3px;
    display: inline-block
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fake-dropdown {
    visibility: visible
}

.fake-dropdown .dropdown-toggle {
    min-width: 110px
}

.fake-dropdown.open .dropdown-toggle:after {
    display: none
}

.fake-dropdown .dropdown-menu {
    min-width: 300px;
    border: 0;
    padding: 0;
    margin-top: 10px
}

.fake-dropdown .dropdown-menu li a {
    padding: 15px 10px
}

.fake-dropdown .dropdown-menu li a:hover {
    background: #fafafa;
    color: #777
}

.textarea-component-container textarea {
    width: 100%;
    min-height: 100px;
    padding: 8px
}

.textarea-component-container .textarea-input-requirements {
    font-size: 12px;
    line-height: 120%;
    color: #999;
    padding-top: 5px
}
.gig-page-section {
    border: 1px solid #dddddd;
    margin-bottom: 20px
}

.gig-page-section.gig-page-section-reviews {
    border-bottom: none
}

.gig-page-section .gig-order-button {
    text-align: right;
    padding: 15px 15px;
    border-top: 1px #dddddd solid
}

.gig-page-section .gig-order-button.on-vacation {
    position: relative
}

.gig-page-section .gig-order-button.on-vacation .btn-standard-lrg {
    text-transform: none
}

.gig-page-section .gig-order-button.on-vacation .notify-vacation {
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 15px;
    text-align: left;
    width: 350px;
    height: 54px;
    overflow: hidden
}

.gig-page-section .gig-order-button.on-vacation .notify-vacation p {
    font-size: 14px;
    line-height: 18px
}

.gig-page-section .gig-order-button.on-vacation .notify-vacation strong {
    display: block
}

.gig-page-section .gig-order-button .btn-standard-lrg {
    text-align: center
}

.gig-page-section .gig-order-button .shopping-cart .btn-green-grad.add-to-cart {
    float: right;
    padding: 13px;
    margin-left: 10px
}

.gig-page-section .gig-order-button .shopping-cart .btn-green-grad.add-to-cart:after {
    font-weight: 400
}

.gig-page-section .gig-order-button .shopping-cart .btn-green-grad.add-to-cart .icon {
    background: transparent url("//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-slim-small-fe40929c86b08c3a3713a0b0c719ed88.svg") no-repeat -350px -150px;
    background-size: 500px 200px;
    display: inline-block;
    width: 28px;
    height: 22px;
    vertical-align: middle
}
.gig-page-section-faq {
    background: #fff
}

.gig-page-section-faq > header {
    background: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    padding: 18px
}

.gig-page-section-faq .component-accordion li {
    border-bottom: 1px solid #dddddd;
    margin: 0 20px
}

.gig-page-section-faq .component-accordion li header {
    font-weight: 500
}

.gig-page-section-faq .component-accordion li:last-child {
    border-bottom: 0
}

.gig-page-section-faq .component-accordion li.opened .panel {
    padding-top: 15px
}
.gig-fancy-header {
    font-size: 18px;
    font-weight: 700;
    color: #0e0e0f;
    text-align: left
}
body ul.component-accordion {
    margin: 0;
    padding: 0;
    width: 100%
}

body ul.component-accordion li {
    position: relative;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    font-size: 14px;
    line-height: 20px;
    color: transparent;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: left;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

body ul.component-accordion li .panel {
    margin: 0;
    max-height: 0;
    padding: 0 20px 0 0;
    -webkit-transition: max-height 0.3s, padding-top 0.3s;
    -moz-transition: max-height 0.3s, padding-top 0.3s;
    -o-transition: max-height 0.3s, padding-top 0.3s;
    transition: max-height 0.3s, padding-top 0.3s
}

body ul.component-accordion li header {
    display: block;
    padding: 20px 15px;
    cursor: pointer;
    color: #0e0e0f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

body ul.component-accordion li.opened {
    color: #0e0e0f
}

body ul.component-accordion li.opened header {
    white-space: inherit
}

body ul.component-accordion li.opened .panel {
    padding: 20px 15px;
    max-height: inherit
}

body ul.component-accordion li.lp {
    border-left: 5px transparent solid;
    -webkit-transition: border-color, 0.3s;
    -moz-transition: border-color, 0.3s;
    -o-transition: border-color, 0.3s;
    transition: border-color, 0.3s
}

body ul.component-accordion li.lp:hover {
    border-color: #00b22d
}

body ul.component-accordion li.lp header {
    font-weight: 700
}

body ul.component-accordion li.lp header:before {
    content: "\f107";
    color: #0e0e0f;
    font-size: 15px;
    font-family: FontAwesome;
    float: right;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s
}

body ul.component-accordion li.lp.opened header:before {
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg)
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2 {
    width: 49%;
    float: left
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2:nth-of-type(1) {
    margin-right: 1%
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-2:nth-of-type(2) {
    margin-left: 1%
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-3 {
    width: 33%;
    float: left
}

body:not(.is-mobile-responsive) ul.component-accordion.col-count-3:nth-of-type(2) {
    margin: 0 .5%
}

.gig-page-section-faq .component-accordion li {
    border-left: 0;
    margin: 0
}

.gig-page-section-faq .component-accordion li:hover {
    border-color: #dddddd
}

/*.gig-page-section-faq .component-accordion li header:before {*/
    /*content: "\f107";*/
    /*color: #0e0e0f;*/
    /*font-size: 15px;*/
    /*font-family: FontAwesome;*/
    /*float: right;*/
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*-moz-transition: -moz-transform 0.3s;*/
    /*-o-transition: -o-transform 0.3s;*/
    /*transition: transform 0.3s*/
/*}*/
.gig-page-section-faq .component-accordion li a {
    color: red;
    font-size: 15px;
    float: right;
}
.gig-page-section-faq .component-accordion li:last-child {
    margin-bottom: 0
}

.gig-page-section-faq .component-accordion li.opened header:before {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    -moz-transform: rotate3d(0, 0, 1, -180deg);
    -ms-transform: rotate3d(0, 0, 1, -180deg);
    -o-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, -180deg)
}

.gig-page-section-faq .component-accordion li.opened .panel {
    padding-top: 0
}
.gig-page-section-faq .component-accordion li {
     border-bottom: 1px solid #dddddd;
     margin: 0 20px
 }

.gig-page-section-faq .component-accordion li.opened .panel {
    padding-top: 15px
}