.form-post-request {
    color: #303030;
    font-size: 14px;
    position: relative;
    width: 652px;
    border-radius: 2px;
    box-sizing: border-box
}

.form-post-request .form-row {
    background: #fff;
    border: 1px #e3e3e3 solid;
    border-bottom: none;
    padding: 0 40px;
    position: relative
}

.form-post-request .form-row:hover .post-request-tooltip, .form-post-request .form-row.hovered .post-request-tooltip {
    opacity: 1
}

.form-post-request .form-row .msg-error {
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding-left: 0
}

.form-post-request .form-row label {
    color: #303030;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0
}

.form-post-request .form-row .input-wrap {
    min-height: 40px;
    padding-left: 45px;
    position: relative
}

.form-post-request .form-row .input-wrap:before {
    content: '';
    background: transparent url("//assetsv2.fiverrcdn.com/assets/v2_globals/icn-dashboard-request-b89d6c536bdd0485af0cd51e5b7fff12.svg") no-repeat 0 0;
    background-size: 210px 35px;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 0;
    display: block
}

.form-post-request .form-row .input-wrap .show-before-title {
    position: absolute;
    top: 7px;
    left: 48px;
    font: 400 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #cccccc;
    padding-right: 6px
}

.form-post-request .form-row .input-wrap.with-files .uploadifyQueue {
    display: inline-block
}

.form-post-request .form-row .input-wrap.with-files .attach-limit {
    display: none
}

.form-post-request .form-row .input-wrap .fake-dropdown .dropdown-toggle {
    font-size: 14px;
    overflow: hidden;
    width: 252px;
    box-sizing: border-box
}

.form-post-request .form-row .input-wrap .fake-dropdown .dropdown-menu {
    width: 252px;
    box-sizing: border-box
}

.form-post-request .form-row .input-wrap .fake-dropdown .dropdown-menu li a {
    font-size: 14px;
    white-space: normal;
    padding: 4px 10px;
    line-height: 140%
}

.form-post-request .form-row.post-request-locales label {
    font-weight: 400
}

.form-post-request .form-row.post-request-locales .make-sure {
    float: right
}

.form-post-request .form-row.post-request-category .input-wrap:before {
    background-position: -70px 0
}

.form-post-request .form-row.post-request-category .perceived {
    border: 1px #e5e5e5 solid;
    position: relative;
    min-height: 32px;
    min-width: 252px;
    box-sizing: border-box
}

.form-post-request .form-row.post-request-category .perceived:after {
    color: #e5e5e5;
    content: "\25BE";
    font-size: 19px;
    line-height: 16px;
    position: absolute;
    z-index: 1;
    display: block;
    top: 5px;
    right: 7px
}

.form-post-request .form-row.post-request-metadata {
    border-width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s, height 1s;
    -moz-transition: opacity 0.3s, height 1s;
    -o-transition: opacity 0.3s, height 1s;
    transition: opacity 0.3s, height 1s
}

.form-post-request .form-row.post-request-metadata.show {
    border-width: 1px;
    height: auto;
    opacity: 1
}

.form-post-request .form-row.post-request-metadata .input-wrap:before {
    background-position: -140px 0
}

.form-post-request .form-row.post-request-metadata .input-wrap > div.metadata-wrapper {
    float: left;
    margin-top: 20px
}

.form-post-request .form-row.post-request-metadata .input-wrap > div.metadata-wrapper:nth-child(1), .form-post-request .form-row.post-request-metadata .input-wrap > div.metadata-wrapper:nth-child(2) {
    margin-top: 0
}

.form-post-request .form-row.post-request-required-days .input-wrap:before {
    background-position: -35px 0
}

.form-post-request .form-row.post-request-required-days .input-wrap input {

    display: none;
    line-height: 16px;
    padding: 8px;
    width: 116px;
    margin-left: 20px;
    box-sizing: border-box
}

.form-post-request .form-row.post-request-required-days .input-wrap.other .other {
    display: none
}

.form-post-request .form-row.post-request-required-days .input-wrap.other input {
    display: inline-block
}

.form-post-request .form-row.post-request-budget .input-wrap:before {
    background-position: -105px 0
}

.form-post-request .form-row.post-request-budget .input-wrap small {
    color: #777777;
    position: absolute;
    top: 10px;
    left: 53px
}

.form-post-request .form-row.post-request-budget .input-wrap input {
    font-size: 14px;
    padding: 8px 8px 8px 25px;
    width: 252px;
    box-sizing: border-box
}

.form-post-request .form-row.post-request-budget .input-wrap .currency-toggle {
    font-size: 12px;
    color: #41b4bb;
    display: block;
    padding-top: 5px
}

.form-post-request .form-row.post-request-logo-type .input-wrap:before {
    background-position: -70px 0
}

.form-post-request .form-row.post-request-logo-style .input-wrap:before {
    background-position: -140px 0
}

.form-post-request .form-row.post-request-email .input-wrap:before {
    background-position: -175px 0
}

.form-post-request .form-row.post-request-email .input-wrap input {
    font-size: 14px;
    padding: 8px;
    box-sizing: border-box
}

.form-post-request .form-row.post-request-email > small {
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    padding-left: 45px
}

.form-post-request .form-row.post-request-describe {
    border-bottom: none
}

.form-post-request .form-row.post-request-describe .input-wrap:before {
    background-position: 0 0
}

.form-post-request .form-row.post-request-describe .request-desc textarea {
    height: 315px;
    width: 522px
}
.form-post-request .form-row.post-request-describe .request-title input {
    height: 30px;
    font-size: 18px;
    width: 524px;
    text-indent: 55px;
}
.form-post-request .form-row.post-request-describe  .title-count {
    float: right;
    font-size: 12px;
    color: #999999;
    padding-top: 10px;
}
.form-post-request .form-row.post-request-describe .input-wrap .char-count {
    color: #999999;
    font-size: 12px;
    position: absolute;
    top: 100px;
    right: 0
}

.form-post-request .form-row.form-button {
    border-bottom: 1px #e3e3e3 solid;
    border-top: none;
    text-align: right
}

.form-post-request .form-row.form-button .btn-standard {
    font-size: 16px;
    line-height: 18px;
    padding: 9px 30px;
    text-transform: capitalize
}

.form-post-request .form-row .attach-files {
    float: left;
    padding-top: 10px
}

.form-post-request .form-row .attach-files .btn-attach-files {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-transform: capitalize;
    border-color: #b2b2b2
}

.form-post-request .form-row .attach-files .btn-attach-files:before {
    content: "";
    background: transparent url("//assetsv2.fiverrcdn.com/assets/v2_globals/icn-master-small-b1960bdd84446a5d4f6fb2033318459c.png") no-repeat -600px -50px;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    position: relative;
    width: 14px;
    height: 21px;
    float: left;
    margin: -5px 5px -5px 0
}

.form-post-request .form-row .attach-files .attach-inner {
    height: 31px;
    cursor: pointer;
    float: left
}

.form-post-request .form-row .attach-files .attach-inner input[type="file"], .form-post-request .form-row .attach-files .attach-inner object {
    height: 31px;
    width: 122px;
    cursor: pointer
}

.form-post-request .form-row .attach-files .attach-inner .disabled input[type="file"] {
    cursor: default
}

.form-post-request .form-row .attach-files .attach-limit {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    line-height: 15px;
    height: 31px;
    color: #999999;
    padding: 0 0 0 10px
}

.form-post-request .form-row .attach-files:hover .btn-attach-files {
    color: #00b22d;
    border-color: #b3b3b3;
    text-decoration: none
}

.form-post-request .form-row .uploadifyQueue {
    display: none;
    width: 270px;
    padding-top: 3px;
    border: none
}

.form-post-request .form-row .uploadifyQueue .uploadifive-queue-item .filename {
    padding-left: 15px
}

.form-post-request .form-row .uploadifyQueue .uploadifive-queue-item .filename:before {
    content: "\f0ab";
    background: none;
    font-family: 'FontAwesome'
}

.form-post-request .form-row .uploadifyQueue .error .status-bar {
    display: none
}

.form-post-request .form-row .uploadifyQueue .error .fileinfo {
    display: inline;
    color: #d80000;
    font-weight: bold
}

.form-post-request .form-row .btn-option {
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
    margin-left: 20px;
    float: left;
    width: 116px;
    box-sizing: border-box
}

.form-post-request .form-row .btn-option:first-child {
    margin-left: 0
}

.form-post-request .form-row .btn-option.sel {
    background: #00b22d;
    border-color: #00931e;
    color: #fff;
    font-weight: 700
}

.form-post-request .form-row .error-container {
    display: block;
    clear: both
}

.form-post-request .form-row .with-error .dropdown-toggle {
    border-color: #ff4d4d
}

.form-post-request.form-post-new-partner .form-row.form-button {
    padding-top: 20px
}

.form-post-request.form-post-new-partner .form-row .input-wrap input {
    width: 100%
}

.form-post-request.form-post-new-partner .form-row .input-wrap .fake-dropdown .dropdown-toggle, .form-post-request.form-post-new-partner .form-row .input-wrap .fake-dropdown .dropdown-menu {
    width: 100%
}

.form-post-request.form-post-new-partner .form-row .input-wrap.other input {
    width: 112px
}

html.ieold .form-post-request .form-row:hover .post-request-tooltip {
    display: block
}

html.ieold .form-post-request .form-row .post-request-tooltip {
    display: none
}

html.ieold .form-post-request .form-row .input-wrap:before {
    background-image: url("//assetsv2.fiverrcdn.com/assets/v2_globals/icn-dashboard-request-nosvg-8bad045f3d2d45ab074b7d22e5b7d3da.png")
}

.post-request-tooltip {
    background-color: #deeff0;
    display: block;
    padding: 17px 15px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 672px;
    width: 316px;
    opacity: 0;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s
}

.post-request-tooltip.fod-tooltip {
    background-color: #fafafa;
    padding: 5px;
    top: 55px;
    left: 620px;
    border: 1px solid #b2b2b2;
    box-shadow: 3px 3px 3px 0px rgba(178, 178, 178, 0.56)
}

.post-request-tooltip.fod-tooltip h4 {
    padding: 8px 0 0 12px
}

.post-request-tooltip.fod-tooltip p {
    padding: 5px 12px
}

.post-request-tooltip.fod-tooltip p span, .post-request-tooltip.fod-tooltip p a {
    color: #41b4bb;
    font-weight: 700
}

.post-request-tooltip.fod-tooltip:before, .post-request-tooltip.fod-tooltip:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0
}

.post-request-tooltip.fod-tooltip:before {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #fafafa;
    top: 10px;
    left: -8px;
    z-index: 2
}

.post-request-tooltip.fod-tooltip:after {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #b2b2b2;
    top: 10px;
    left: -9px;
    z-index: 1
}

.post-request-tooltip figure h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    min-height: 30px;
    padding-left: 55px;
    position: relative
}

.post-request-tooltip figure h3 span {
    background: #78cdd2;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 50%
}

.post-request-tooltip figure h3 span:before {
    color: #fff;
    line-height: 40px;
    font-size: 28px;
    font-weight: 400
}

.post-request-tooltip figure p {
    line-height: 18px;
    padding: 12px
}

.post-request-tooltip figure p.example {
    border: 1px solid #78cdd2;
    border-radius: 5px
}

.post-request-tooltip figure p.example span {
    color: #0097a7;
    font-weight: 700
}

.popup-base.popup-custom-order-request {
    margin-bottom: 62px
}

.popup-base.popup-custom-order-request .post-request-tooltip {
    display: none
}

.popup-base.popup-custom-order-request .popup-content {
    padding: 0 0 15px 0
}

.popup-base.popup-custom-order-request .popup-content p.msg-error {
    padding: 10px 0
}

.popup-base.popup-custom-order-request .custom-order-seller-row {
    padding: 20px
}

.popup-base.popup-custom-order-request .custom-order-seller-row p {
    padding-bottom: 0;
    width: 570px
}

.popup-base.popup-custom-order-request .form-post-request .form-row {
    padding: 0 20px
}

.popup-base.popup-custom-order-request .form-post-request .form-row.post-request-describe .input-wrap textarea {
    width: 565px
}

.popup-base.popup-custom-order-request .form-post-request .form-row.form-button {
    border-top: 1px solid #e3e3e3;
    border-bottom: 0;
    padding-top: 15px
}

.popup-base.popup-custom-order-request .form-post-request .form-row .cancel-request {
    color: #666666;
    margin-top: 11px;
    float: left
}

.popup-base.popup-custom-order-request .form-post-request .form-row .cancel-request:hover {
    cursor: pointer
}

.popup-base.popup-custom-order-request .form-post-request .form-row .submit-request {
    float: right
}

.db-manage-requests-new-resume .educational-resume-header .box-row {
    border-bottom: 1px #dddddd solid
}

.db-manage-requests-new-resume .educational-resume-header ul {
    margin-top: 0;
    margin-left: 126px
}

.db-manage-requests-new-resume .educational-resume-header ul li {
    float: left;
    width: 232px;
    margin-left: 20px;
    text-align: center
}

.db-manage-requests-new-resume .educational-resume-header ul li:first-child {
    margin-left: 0
}

.db-manage-requests-new-resume .educational-resume-header ul li:before {
    background: transparent url("//assetsv2.fiverrcdn.com/v2_photos/resume-request/icn-resume-request-education.svg") no-repeat 0 0;
    background-size: 210px 60px;
    content: '';
    height: 60px;
    display: block;
    position: relative;
    margin: 0 auto 10px auto
}

.db-manage-requests-new-resume .educational-resume-header ul li.step-1:before {
    background-position: 0 0;
    width: 56px
}

.db-manage-requests-new-resume .educational-resume-header ul li.step-1 p {
    width: 148px
}

.db-manage-requests-new-resume .educational-resume-header ul li.step-2:before {
    background-position: -70px 0;
    width: 64px
}

.db-manage-requests-new-resume .educational-resume-header ul li.step-2 p {
    width: 138px
}

.db-manage-requests-new-resume .educational-resume-header ul li.step-3:before {
    background-position: -140px 0;
    width: 55px;
    left: 7px
}

.db-manage-requests-new-resume .educational-resume-header ul li.step-3 p {
    width: 130px
}

.db-manage-requests-new-resume .educational-resume-header ul li h3 {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px
}

.db-manage-requests-new-resume .educational-resume-header ul li p {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 18px;
    display: inline-block
}

html.no-svg .db-manage-requests-new-resume .educational-resume-header li:before {
    background: url("//assetsv2.fiverrcdn.com/v2_photos/resume-request/icn-resume-request-education-nosvg.png") 0 0 no-repeat
}
