.notification-tray {
    position: fixed;
    overflow: hidden;
    z-index: 1100;
    width: 350px;
    bottom: 0;
    right: 0;
    padding: 15px 15px 0 0
}

.notification-tray .notification {
    background-color: #fafafa;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    height: 0;
    color: #0e0e0f;
    box-sizing: border-box;
    -webkit-transition: height 0.25s, margin 0.25s, -webkit-transform 0.25s, opacity 0.25s;
    -moz-transition: height 0.25s, margin 0.25s, -moz-transform 0.25s, opacity 0.25s;
    -o-transition: height 0.25s, margin 0.25s, -o-transform 0.25s, opacity 0.25s;
    transition: height 0.25s, margin 0.25s, transform 0.25s, opacity 0.25s
}

.notification-tray .notification.shown {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 1;
    box-shadow: 0 0 10px 0 #cccccc
}

.notification-tray .notification.removed {
    opacity: 0;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px)
}

.notification-tray .notification a.wrapper {
    position: absolute;
    z-index: 1;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: #0e0e0f
}

.notification-tray .notification img {
    float: left;
    opacity: .8;
    height: 80px;
    width: 80px
}

.notification-tray .notification header {
    font-weight: 500;
    overflow: hidden;
    padding: 10px 20px 10px 10px
}

.notification-tray .notification header .btn-close {
    color: #999999;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px;
    z-index: 1;
    border-radius: 50%;
    -webkit-transition: background-color 0.1s, color 0.1s;
    -moz-transition: background-color 0.1s, color 0.1s;
    -o-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s
}

.notification-tray .notification header .btn-close:before {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 1px;
    font-size: 12px
}

.notification-tray .notification header .btn-close:hover {
    background-color: #999999
}

.notification-tray .notification header .btn-close:hover:before {
    color: #e5e5e5
}

.notification-tray .notification .content {
    overflow: hidden;
    padding: 0 20px 10px 10px
}
